.azeret-mono- {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

/* nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
#banner{
    background-image: url(../Images/Hero-bg.png);
    margin: 80px 100px; 
}   
.hero{
    width: 580px;
    margin:auto;
    
}
.btn-container{
    text-align: center;
    margin-bottom: 35px;
}
.bg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 36px;
    
}
    
.text1{
    font-size:48px;
    font-weight: 800;
    margin-bottom: 24px;
}
.text2{
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 32px;
}

.btn{
    font-weight: 600;
    font-size: 20px;
    padding: 17px 24px;
    border-radius: 8px;
    border-color:#0D1321 ;
    background-color: none;
    text-decoration-color: #0D1321;

}
.btn1{
    background-color: #0D1321;
    font-weight: 400;
    font-size: 20px;
    padding: 21px 24px;
    border-radius: 8px;
    color: white;
    text-align: center;

     
}